USE [master]
GO
/****** Object:  Database [CitasAgenda]    Script Date: 3/26/2026 2:20:00 PM ******/
CREATE DATABASE [CitasAgenda]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CitasAgenda', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\CitasAgenda.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CitasAgenda_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\CitasAgenda_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CitasAgenda].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CitasAgenda]
GO
/****** Object:  Table [dbo].[Cita]    Script Date: 3/26/2026 2:20:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cita](
	[IdCita] [int] IDENTITY(1,1) NOT NULL,
	[NombreCliente] [varchar](100) NOT NULL,
	[Fecha] [date] NOT NULL,
	[Hora] [time](7) NOT NULL,
	[DuracionMinutos] [int] NOT NULL,
	[Estatus] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCita] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Cita]  WITH CHECK ADD  CONSTRAINT [chk_Duracion] CHECK  (([DuracionMinutos]>(0)))
GO
ALTER TABLE [dbo].[Cita] CHECK CONSTRAINT [chk_Duracion]
GO
ALTER TABLE [dbo].[Cita]  WITH CHECK ADD  CONSTRAINT [chk_FechaNoPasada] CHECK  (([Fecha]>=CONVERT([date],getdate())))
GO
ALTER TABLE [dbo].[Cita] CHECK CONSTRAINT [chk_FechaNoPasada]
GO
ALTER TABLE [dbo].[Cita]  WITH CHECK ADD CHECK  (([Estatus]='Cancelada' OR [Estatus]='Agendada'))
GO
USE [master]
GO
